@{
    ViewData["Title"] = "Play Page";
}

<div class="text-center">
    <div class="play-container" id="container">
        <div class="slot-container">
            <div class="slot">
                <img id="first-slot" class="sprite" />
            </div>
            <div class="slot">
                <img id="second-slot" class="sprite" />
            </div>
            <div class="slot">
                <img id="third-slot" class="sprite" />
            </div>
        </div>
        <div class="play-button">
            <button id="play" onclick="play()">Play</button>
        </div>

    </div>

</div>
