@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Play Page";
}

<div class="text-center">
    <div class="score-container">
        <div class="score-item">
            <div>Credits</div>
            <label id="credits">@Context.Session.GetString("Credits")</label>
        </div>
        <div class="score-item">
            <div>Account</div>
            <label id="account">@Context.Session.GetString("Account")</label>
        </div>
    </div>
    <div class="play-container" id="container">
        <div class="slot-container">
            <div class="slot">
                <img id="first-slot" class="sprite" />
            </div>
            <div class="slot">
                <img id="second-slot" class="sprite" />
            </div>
            <div class="slot">
                <img id="third-slot" class="sprite" />
            </div>
        </div>
        <div class="play-button">
            <button id="play" onclick="play()">Play</button>
        </div>

    </div>
    <div class="cashout-container">
        <div class="cashout">
            <button id="cashout" onmouseover="hideCashOut()" onclick="cashOut()">CashOut</button>
        </div>
    </div>

</div>
